<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reserva de entradas</title>
</head>

<body>
	<h1>Reservar entradas</h1>
	<form id="formAgregar">
		<label for="cantidad">Cantidad: </label>
		<input type="number" name="cantidad" id="cantidad">
		<button id="botonAgregar">Agregar</button>
	</form>

	<button id="botonReservar">Reservar</button>
	<script src="../js/app.js" type="module"></script>
</body>

</html>